# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# database
/src/server/database/db.sqlite
/src/server/database/db.sqlite-journal

# production
/dist
.env

# misc
.DS_Store
*.pem
.idea/**

# debug
npm-debug.log*

# typescript
*.tsbuildinfo

# antd
colourPalette.scss
