$color-primary: #f7329c;
$color-primary-hover: #ff85be;
$color-primary-active: #d11f84;

$color-secondary: #22eaeb;

$color-info: #f8f8f8;
$color-info-bg: #d0d5dd;

$color-warning: #ff9900;

$text-primary: #323232;
$text-secondary: #d5d8df;
